.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100rem;
  margin: auto;

  h1 {
    font-size: 2.5rem;
    margin: 0 0 2rem;
    color: $clr-primary;
    width: 100%;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
  }

  @media #{$mq-small} {
    h1 {
      font-size: 3rem;
    }
  }
}
